/* style tone used: https://color.adobe.com/Ciel-de-Fabron-color-theme-10731265/edit/?copy=true&base=1&rule=Custom&selected=1&name=Copy%20of%20Ciel%20de%20Fabron&mode=rgb&rgbvalues=0.5882352941176471,0.5391445287792904,0.45098039215686275,0.8901960784313725,0.8467156862745424,0.7686274509803922,1,0.9873766603415655,0.9647058823529412,0.39215686274509803,0.4823529411764706,0.5882352941176471,0.7686274509803922,0.8245490196078199,0.8901960784313725&swatchOrder=0,1,2,3,4*/





* {
  color: #636366;
}

body {
  background: #C4D2E3;
}

a {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
}

a:hover {
  text-decoration: line-through;
}

.container {
  padding-top: 100px;
}

.body-content {
  background: #fff;
  padding: 100px 0 120px 0;
  position: relative;
  z-index: 0 !important;
}

.body-content > .container {
  position: relative;
  top: 100px;
  padding-bottom: 100px;
}

.jumbotron {
  background: #647B96;
  background-image: linear-gradient(#C4D2E3, #647B96);
  height: 760px;
  width: 100%;
  z-index: 100 !important;
}

.jumbotron h1,
.jumbotron h2 {
  color: #fff;
}

.content {
  color: #75C050;
}

footer {
  background: #647B96;
  background-image: #647B96;
  padding-bottom: 80px;
}

footer p {
  color: #fff;
}

/* IMAGES */
.img {
  background-size: contain;
  background-repeat: no-repeat;
}

.img-corgi {
  position: relative;
  background-image: url('corgi.jpg');
  height: auto;
  padding-top: 70%;
  margin-top: 80px;
  z-index: 200 !important;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* === MEDIA QUERIES === */
@media only screen and (min-width: 720px) {
  .jumbotron {
    height: 600px;
  }
}